div.inicio{
    position: absolute;
    top: 20px;
    right: 450px;
    height: 100px;
    border-radius: 5px;
	border: 2px solid #3A3A38;
	background-color: #FFB907;
	height: 60px;
	width: 350px;
	margin: auto;
	text-align: center;

}


a {
	font-size: 50px;
	text-decoration: none;
	color: #3A3A38;
	font-family: impact;
}

table.tabla {
	position: absolute;
    top: 120px;
    left: 10px;
	color: black;
    width: 98%;
	height: 50px;
	padding: 15px;  /* Para controlar el espacio entre el borde y el contenido de una tabla */
	text-align: center; /* left, right, or center */
	border: 10px solid #FFB907;
	

}

th, td {
	

	padding: 15px;  
	vertical-align: top;      /*top, bottom, or middle */
	border-bottom: 1px solid #FFB907;
}	

tr {
	
}
tr:nth-child(even){
background-color: #f2f2f2}

tr.titulo{
    background-color: #FFB907;
    color: #3A3A38 ;
}

td.titulo{
	background-color: white;
}	