div.ranking{
   position: absolute;
    top: 20px;
    left: 10px;
    width: 300px;
    border-radius: 5px;
	border: 2px solid #3A3A38;
	background-color: #FFB907;
	height: 60px;
	width: 350px;
	margin: auto;
	text-align: center;
	 
}


div.estadisticas{
       position: absolute;
    top: 20px;
    right: 10px;
    height: 100px;
    border-radius: 5px;
	border: 2px solid #3A3A38;
	background-color: #FFB907;
	height: 60px;
	width: 350px;
	margin: auto;
	text-align: center;

}

a {
	font-size: 50px;
	text-decoration: none;
	color: #3A3A38;
	font-family: impact;
}