th, td.titulo1 {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #3F3F3F;
    color: #ffffff;
	font-size: 30px;
	text-decoration: none;
	color: white;
	font-family: impact;
}


th, td.posicionuno{
    padding: 8px;
    margin-bottom: 8px;
    background-color: #D08700;
    color: #ffffff;
	font-size: 25px;
	text-decoration: none;
	color: #FFFD5F;
	font-family: impact;
}
th, td.posicionuno:hover {
    background-color: #FFA600;

}

th, td.posiciondos{
    padding: 8px;
    margin-bottom: 8px;
    background-color: #900404;
    color: #ffffff;
	font-size: 25px;
	text-decoration: none;
	color: white;
	font-family: impact;
}
th, td.posiciondos:hover {
    background-color: #BA0505;
}

th, td.posiciontres{
    padding: 8px;
    margin-bottom: 8px;
    background-color: #001C55;
    color: #ffffff;
	font-size: 25px;
	text-decoration: none;
	color: white;
	font-family: impact;
}
th, td.posiciontres:hover {
    background-color: #003AAD;
}

th, td.comun{
    padding: 8px;
    margin-bottom: 8px;
    background-color: #3F3F3F;
    color: #ffffff;
	font-size: 15px;
	text-decoration: none;
	color: white;
	font-family: impact;
}
th, td.comun:hover {
    background-color: #919191;
}

table.tabla {
	position: absolute;
    left: 5px;
	color: black;
    width: 98%;
	height: 150px;
	padding: 10px;  /* Para controlar el espacio entre el borde y el contenido de una tabla */
	text-align: center; /* left, right, or center */
	border: 5px solid #00394E;
	

}

table.tabla :hover{

}	
	

th, td {
	

	padding: 15px;  
	vertical-align: top;      /*top, bottom, or middle */
	border-bottom: 1px solid #00394E;
	
}

tr:nth-child(even){
background-color: #f2f2f2

}



